<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.wendy.parkio-x-home</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/wendy/work/input-to-park/fetch-x-home.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/wendy/work/input-to-park</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/wendy</string>
		<key>PATH</key>
		<string>/Users/wendy/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict>
		<dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>StandardOutPath</key>
	<string>/Users/wendy/work/input-to-park/logs/launchd.x-home.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/wendy/work/input-to-park/logs/launchd.x-home.stderr.log</string>
</dict>
</plist>
